article {
    text-align: center;
    width: 50vw;
    height: 50vh;

    position: relative;

    left: 25%;

    overflow: hidden;

    margin: 40px 0;
}

article > p::first-letter{
    font-size: 2em;
}